img.logo {
    height: 10%;
    width: 10%;
}

.custom-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .custom-btn .btn,
  .custom-btn .btn2 {
    width: 300px;
    height: 100px;
    font-size: 24px;
    text-align: center;
    line-height: 100px;
    color: rgba(255,255,255,0.9);
    border-radius: 50px;
    background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
    background-size: 600%;
    -webkit-animation: anime 16s linear infinite;
            animation: anime 16s linear infinite;
  }
  .custom-btn .btn2 {
    position: absolute;
    margin-top: -70px;
    z-index: -1;
    -webkit-filter: blur(30px);
            filter: blur(30px);
    opacity: 0.8;
  }
  @-webkit-keyframes anime {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes anime {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .btn a {
    color: white;
  }

  .btn a:hover {
      text-decoration: none;
      color: white;
  }